<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @bid_expense.description %>
</p>

<%= link_to 'Edit', edit_bid_expense_path(@bid_expense) %> |
<%= link_to 'Back', bid_expenses_path %>
