<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @bidder_amount.amount %>
</p>

<%= link_to 'Edit', edit_bidder_amount_path(@bidder_amount) %> |
<%= link_to 'Back', bidder_amounts_path %>
