<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>ALFALFA CONSTRUCTION</b>
  </div>
  <strong>Copyright &copy; <%=Time.zone.now.year%> <a href="http:kiphodan.herokuapp.com">KIPHODAN TECHNOLOGIES INC.</a></strong> 
</footer>
